{% url 'home' as home_url %}
{% url 'route_list' as route_url %}
{% url 'cities_home' as city_home_url %}
{% url 'city_add' as city_add_url %}
{% url 'trains_home' as train_home_url %}
{% url 'train_add' as train_add_url %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Travel</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
		  <a class="navbar-brand" href="/">Travel</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item {% if request.path == home_url %} active {% endif %}">
		        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item {% if request.path == city_home_url %} active {% endif %}">
		        <a class="nav-link" href="{% url 'cities_home' %}">Cities</a>
		      </li>
		      <li class="nav-item {% if request.path == train_home_url %} active {% endif %}">
		        <a class="nav-link" href="{% url 'trains_home' %}">Trains</a>
		      </li>
		      <li class="nav-item {% if request.path == route_url %} active {% endif %}">
		        <a class="nav-link" href="{% url 'route_list' %}">Routes<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle {% if request.path == city_add_url or request.path == train_add_url %} active {% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Add
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="{% url 'city_add' %}">Add City</a>
		          <a class="dropdown-item" href="{% url 'train_add' %}">Add Train</a>
		        </div>

		      	{% if user.is_authenticated %}
			      	<li class="nav-item">
			      		<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			      	</li>
		      	{% else %}
			      	<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Registration</a>
					</li>
				{% endif %}
		    </ul>
		  </div>
		</nav>
	</div>
	<div class="container my-4">
		<div class="row">
			<div class="col-md-8 mx-auto">
				{% if messages %}
					{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							<div class="alert alert-danger messages">
								<span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
									Attention! {{ message }} <br/>
								</span>
							</div>
						{% else %}
							<div class="alert alert-success messages">
								<span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
									{{ message }} <br/>
								</span>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
		    $('.js-example-basic-single').select2();
		});
	</script>
	<script>
		$(document).ready(function() {
		    $('.js-example-basic-multiple').select2();
		});	
	</script>
</body>
</html>