{% extends "base.html" %}

{% block content %}
    <h1 class="display-4 text-center my-4">Cities</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>City</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody></tbody>
                    {% for object in objects_list %}
                        <tr>
                            <td>
                                <a href="{% url 'city_detail' pk=object.pk %}">{{ object.name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'city_update' pk=object.pk %}">
                                    <button type="button" class="btn btn-primary btn-sm">Update</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'city_delete' pk=object.pk %}">
                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto my-4">
            <a href="{% url 'city_add'%}">
                <button type="button" class="btn btn-info">Add City</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto text-center my-4">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <button type="button" class="btn btn-dark btn-sm">Previous</button>
                    </a>
                {% endif %}
                <span>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                        <button type="button" class="btn btn-dark btn-sm">Next</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}