{% extends "base.html" %}


{% block content %}
	<h1 class="display-4">Create City</h1>
	<div class="row mx-auto">
	  	<div class="col-md-4">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				City:<br>
				<input type="submit" value="Save">
			</form>
		</div>
	</div>
{% endblock %}