{% extends "base.html" %}

{% block content %}
	<h1 class="display-4">City</h1>
		<div class="row">
		  	<div class="col-md-6">
		  		<p>City name: {{ object.name }} </p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-md-6">
		  		<a href="{% url 'cities_home' %}">
		  			<button type="button" class="btn btn-dark">
		  				Back to list
		  			</button>
		  		</a>
		  	</div>
		</div>
{% endblock %}