{% extends "base.html" %}


{% block content %}
	<h1 class="display-4">Delete City</h1>
	<div class="row mx-auto">
	  	<div class="col-md-4">
			<form action="" method="post">
				{% csrf_token %}
				<p>Are u sure u want delete "{{ object }}"?</p>
				<input type="submit" value="Confirm">
			</form>
		</div>
	</div>
{% endblock %}