{% extends "base.html" %}

{% block content %}
    <h1 class="display-4 text-center my-4">Search route</h1>
    <div class="row">
        {% if routes %}
            <div class="col-md-8 mx-auto">
            <h3>{% if routes|length == 1 %} 
                Route
            {% else %}
                Routes 
            {% endif %}
            from {{ cities.from_city }} to {{ routes.to_city }} </h3>
            <hr>
            {% for route in routes %}
                <form action="{% url 'add_route' %}" method="GET">
                    <input type="hidden" name="from_city" value="{{ route.from_city }}"/>
                    <input type="hidden" name="to_city" value="{{ route.to_city }}"/>
                    <input type="hidden" name="across_cities" value="{% for train in route.route %} {{ train.id }} {% endfor %}"/>
                    <input type="hidden" name="travel_time" value="{{ route.total_time }}"/>
                {% if forloop.first %}
                    <h5> Shortest route </h5>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Routes list</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for train in route.route %}
                            <tr>
                                <td>Train <strong>{{ train.name }}</strong> from {{ train.from_city }} to {{ train.to_city }}. Travel time - {{  train.travel_time}} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>Full travel time - {{ route.total_time }} </p>
                <br/>
                <button type="submit" class="btn btn-success">
                    Save route
                </button>
                </form>
                <br/>
            {% endfor %}
            </div>
        {% endif %}
        <div class="col-md-8 mx-auto">
            {{ ways }}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
{% endblock %}