{% extends "base.html" %}

{% block content %}
	<h1 class="display-4">Route</h1>
		<div class="row">
		  	<div class="col-md-12 bg-dark m-4">
		  		<table class="table table-dark">
		  			<tbody>
		  				<thead>
		  					<th>Route name</th>
	                        <th>From</th>
	                        <th>To</th>
	                        <th>Travel time</th>
		  				</thead>
		  				<tr>
					  		<td>{{ object.name }}</td>
					  		<td>{{ object.from_city }}</td>
					  		<td>{{ object.to_city }}</td>
					  		<td>{{ object.travel_time }}</td>
					  	</tr>
				  	</tbody>
		  		</table>
		  		<p class="text-light">Route consists:</p>
			  		{% for tr in object.across_cities.all %}
			  			<p class="text-light">{{tr}}</p>
			  		{% endfor %}
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-6">
		  		<a href="{% url 'route_delete' pk=object.pk %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
		  		<a href="{% url 'route_list' %}">
		  			<button type="button" class="btn btn-dark">
		  				Back to list
		  			</button>
		  		</a>
		  	</div>
		</div>
{% endblock %}