{% extends "base.html" %}


{% block content %}
	<h1 class="display-4">Save new route</h1>
	<div class="row mx-auto">
	  	<div class="col-md-6">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<p>Route from {{ from_city }} to {{ to_city }}. Travel time - {{ travel_time }} hours.</p>
				<p>Route consists:</p>
				{% for desc in description %}
					<p> {{ desc }}</p>
				{% endfor %}
				<input type="submit" value="Save">
			</form>
		</div>
	</div>
{% endblock %}