{% extends "base.html" %}

{% block content %}
	<h1 class="display-4">Train</h1>
		<div class="row">
		  	<div class="col-md-6">
		  		<p>Train name: {{ object.name }} </p>
		  		<p>From: {{ object.from_city }}</p>
		  		<p>To: {{ object.to_city }}</p>
		  		<p>Travel time: {{ object.travel_time }}</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-md-6">
		  		<a href="{% url 'trains_home' %}">
		  			<button type="button" class="btn btn-dark">
		  				Back to list
		  			</button>
		  		</a>
		  	</div>
		</div>
{% endblock %}